<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.svcdelivery.liquibase.eclipse.category"
            name="%com.svcdelivery.liquibase.eclipse.category">
      </category>
      <view
            category="com.svcdelivery.liquibase.eclipse.category"
            class="com.svcdelivery.liquibase.eclipse.LiquibaseResultsViewPart"
            icon="images/run_exc.gif"
            id="com.svcdelivery.liquibase.eclipse.resultsview"
            name="%com.svcdelivery.liquibase.eclipse.resultsview"
            restorable="true">
      </view>
      <view
            category="com.svcdelivery.liquibase.eclipse.category"
            class="com.svcdelivery.liquibase.eclipse.internal.ui.ScriptsViewPart"
            icon="images/script.gif"
            id="com.svcdelivery.liquibase.eclipse.scriptsview"
            name="%com.svcdelivery.liquibase.eclipse.scriptsview"
            restorable="true">
      </view>
      <view
            category="com.svcdelivery.liquibase.eclipse.category"
            class="com.svcdelivery.liquibase.eclipse.internal.ui.DataSourceViewPart"
            icon="images/database.gif"
            id="com.svcdelivery.liquibase.eclipse.datasourceview"
            name="%com.svcdelivery.liquibase.eclipse.datasourceview"
            restorable="true">
      </view>
   </extension>
   <extension
         id="com.svcdelivery.liquibase.eclipse.LiquibaseBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="true"
            supportsConfigurations="false">
         <run
               class="com.svcdelivery.liquibase.eclipse.internal.ui.LiquibaseBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.svcdelivery.liquibase.eclipse.menu.category"
            name="%com.svcdelivery.liquibase.eclipse.menu.category">
      </category>
      <command
            categoryId="com.svcdelivery.liquibase.eclipse.menu.category"
            defaultHandler="com.svcdelivery.liquibase.eclipse.UpdateCommandHandler"
            id="com.svcdelivery.liquibase.eclipse.update"
            name="%com.svcdelivery.liquibase.eclipse.update">
      </command>
      <command
            categoryId="com.svcdelivery.liquibase.eclipse.menu.category"
            defaultHandler="com.svcdelivery.liquibase.eclipse.RollbackCommandHandler"
            id="com.svcdelivery.liquibase.eclipse.rollback"
            name="%com.svcdelivery.liquibase.eclipse.rollback">
      </command>
      <command
            categoryId="com.svcdelivery.liquibase.eclipse.menu.category"
            id="com.svcdelivery.liquibase.eclipse.convertToLiquibase"
            name="%com.svcdelivery.liquibase.eclipse.convertToLiquibase">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.svcdelivery.liquibase.eclipse.internal.ui.UpdateCommandHandler"
            commandId="com.svcdelivery.liquibase.eclipse.update">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.xml">
                  </test>
               </adapt>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.svcdelivery.liquibase.eclipse.internal.ui.RollbackCommandHandler"
            commandId="com.svcdelivery.liquibase.eclipse.rollback">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.xml">
                  </test>
               </adapt>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="com.svcdelivery.liquibase.eclipse.internal.ui.ConvertToLiquibaseCommandHandler"
            commandId="com.svcdelivery.liquibase.eclipse.convertToLiquibase">
         <activeWhen>
            <iterate>
               <and>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                  </adapt>
                  <not>
                     <test
                           forcePluginActivation="false"
                           property="org.eclipse.core.resources.projectNature"
                           value="com.svcdelivery.liquibase.eclipse">
                     </test>
                  </not>
               </and>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="images/ide.png"
               id="com.svcdelivery.liquibase.eclipse.category"
               label="%com.svcdelivery.liquibase.eclipse.category">
            <command
                  commandId="com.svcdelivery.liquibase.eclipse.update"
                  icon="images/run_exc.gif"
                  label="%com.svcdelivery.liquibase.eclipse.update"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.xml">
                        </test>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="com.svcdelivery.liquibase.eclipse.rollback"
                  icon="images/fail.gif"
                  label="%com.svcdelivery.liquibase.eclipse.rollback"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.xml">
                        </test>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="com.svcdelivery.liquibase.eclipse.convertToLiquibase"
               icon="images/ide.png"
               label="%com.svcdelivery.liquibase.eclipse.convertToLiquibase"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="and">
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                     </adapt>
                     <not>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.svcdelivery.liquibase.eclipse">
                        </test>
                     </not>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="com.svcdelivery.liquibase.eclipse"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.svcdelivery.liquibase.eclipse.internal.ui.LiquibaseNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <uri
               id="databaseChangeLog"
               name="http://www.liquibase.org/xml/ns/dbchangelog"
               uri="platform:/resources/dbchangelog-2.1.xsd">
         </uri>
      </catalogContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
         <viewContribution id="com.svcdelivery.liquibase.eclipse.projectsContribution" targetID="com.svcdelivery.liquibase.eclipse.scriptsview">
         	<action id="com.svcdelivery.liquibase.eclipse.projectsAction" class="com.svcdelivery.liquibase.eclipse.internal.ui.ProjectDialogAction" toolbarPath="additions" icon="images/ide.png"/>
         </viewContribution>
   </extension>

</plugin>
