<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="liquibase.ide.category"
            name="%liquibase.ide.category">
      </category>
      <view
            category="liquibase.ide.category"
            class="liquibase.ide.LiquibaseResultsViewPart"
            icon="images/run_exc.gif"
            id="liquibase.ide.resultsview"
            name="%liquibase.ide.resultsview"
            restorable="true">
      </view>
      <view
            category="liquibase.ide.category"
            class="liquibase.ide.ScriptsViewPart"
            icon="images/script.gif"
            id="liquibase.ide.scriptsview"
            name="%liquibase.ide.scriptsview"
            restorable="true">
      </view>
      <view
            category="liquibase.ide.category"
            class="liquibase.ide.DataSourceViewPart"
            icon="images/database.gif"
            id="liquibase.ide.datasourceview"
            name="%liquibase.ide.datasourceview"
            restorable="true">
      </view>
   </extension>
   <extension
         id="liquibase.ide.LiquibaseBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="true"
            supportsConfigurations="false">
         <run
               class="liquibase.ide.LiquibaseBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="liquibase.ide.menu.category"
            name="%liquibase.ide.menu.category">
      </category>
      <command
            categoryId="liquibase.ide.menu.category"
            defaultHandler="liquibase.ide.UpdateCommandHandler"
            id="liquibase.ide.update"
            name="%liquibase.ide.update">
      </command>
      <command
            categoryId="liquibase.ide.menu.category"
            defaultHandler="liquibase.ide.RollbackCommandHandler"
            id="liquibase.ide.rollback"
            name="%liquibase.ide.rollback">
      </command>
      <command
            categoryId="liquibase.ide.menu.category"
            id="liquibase.ide.convertToLiquibase"
            name="%liquibase.ide.convertToLiquibase">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="liquibase.ide.UpdateCommandHandler"
            commandId="liquibase.ide.update">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.xml">
                  </test>
               </adapt>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="liquibase.ide.RollbackCommandHandler"
            commandId="liquibase.ide.rollback">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.xml">
                  </test>
               </adapt>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="liquibase.ide.ConvertToLiquibaseCommandHandler"
            commandId="liquibase.ide.convertToLiquibase">
         <activeWhen>
            <iterate>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <not>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="liquibase.ide">
                     </test>
                  </not>
               </and>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               icon="images/ide.png"
               id="liquibase.ide.category"
               label="%liquibase.ide.category">
            <command
                  commandId="liquibase.ide.update"
                  icon="images/run_exc.gif"
                  label="%liquibase.ide.update"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.xml">
                        </test>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="liquibase.ide.rollback"
                  icon="images/fail.gif"
                  label="%liquibase.ide.rollback"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.xml">
                        </test>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="liquibase.ide.convertToLiquibase"
               icon="images/ide.png"
               label="%liquibase.ide.convertToLiquibase"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="and">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <not>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="liquibase.ide">
                        </test>
                     </not>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="liquibase.ide"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="liquibase.ide.LiquibaseNature">
         </run>
      </runtime>
   </extension>

</plugin>
